p{
	font-size: 50px;
	background-color: blue;
}

body{background color: red}

ol {
	font-size: 50px;
	background-color: blue;
}


ul {
	font-size: 50px;
	background-color: blue;
}


h1 {
	font-size: 50px;
	

	background-color: black;
}

body {

	background-color: darkblue;
	color:white;
}