@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat:wght@100&display=swap');
h1{
	text-align:  center;
	font-weight: bold;
	font-size: 50px;
	margin: 50px;
	font-family: "Montserrat";
}
p{
	margin: 70px;
	text-align: justify;
	font-family: "Lato";
	column-count: 3;
	line-height: 1.5;
}
.signature {
	margin: 60px;
	font-size: 70px;
	font-family: "Dancing Script";
	column-count: 1;
}
body{
	background: rgb(63,94,251);
background: linear-gradient(285deg, rgba(63,94,251,1) 0%, rgba(131,85,199,1) 36%, rgba(252,70,107,1) 100%);
}