@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Raleway:wght@300&display=swap');

h1{
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Raleway;
}
h2{
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Dancing Script;
}
.a {
	
	font-family: Raleway;
	border: dotted 5px;
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px;

	

}
.a p{
	column-count: 3;
}


#b{
	
	background: rgb(59,128,196);
    background: radial-gradient(circle, rgba(59,128,196,1) 56%, rgba(20,11,93,1) 92%);
    display: flex;
    justify-content: center;
    align-items: center;
    border: dotted 5px;
	height: 150px;
	margin: 20px;

}
#b p{
	padding: 30px;
	background-color: rgb(255, 255, 255, 0.6);
	margin: 20px;
}
.c{
	background-color: lightblue;
	border: dotted 5px;
	height: 150px;
	display: flex;
	align-items: stretch;
    justify-content: space-between;
    margin: 20px;
	

}
.c p{
	background-color: white;
	

	
}
img{
	width: 100px;
	height: 100px;
	
	
}
#d{
	margin: 20px;
	border: dotted 5px;
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: blue;
}
footer{
	background-color: darkblue;
	margin: 20px;
	border: dotted 5px;
	height: 150px;
	display: flex;
	justify-content: space-evenly;
	align-items: flex-end;
	

}
footer p{
	padding: 20px;
	background-color: rgb(255, 255, 255,0.6);
}
