body{
	margin: 0;
}

/*Navigation */
nav{
	background-color: lightgrey;
    display: flex;
	justify-content: space-between; /* To make space between logo and list */
	align-items: center;
	padding: 30px;
	font-family: Montserrat;
}
nav img{
	height: 100px;
	border-radius: 50%;
	font-family: Montserrat;

}
nav ul{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	list-style-type: none;
	font-family: Montserrat;
}
nav ul li a{
	margin: 20px;
	padding: 20px;
	text-decoration: none; /*Removes the underliine decoration of a link */
	color: black;
	background-color: white;
	border-radius: 10px;
	font-family: Montserrat;
}


nav ul li a:hover {
	/* Hover is used to make a nice effect if we put the mouse over the link */
	background-color: grey;
	color: black;
	font-family: Montserrat;
}
/* Header */
header{
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-size: cover;
	background-position: center;
}
header h1{
	font-size: 50px;
	text-transform: uppercase;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 20px;
	padding: 20px;
}
/* Footer */
footer {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 400px;
    background-image: url(img11.jpg);

}
footer p {
	font-size: 30px;
	color: black;
}


/* Section */
section {
	padding: 50px;
}
/*************************************************************Page Styles***************************************************************/

/* Home Page */
#products header {
	background-image: url("img2.jpg");
}
#home main {
	background-color: darkorange;

}
#home header p{
	color: white;
	font size: 30px;
}



/* About Page */
#about header {
	background-image: url("header-background-about.jpg");
}
#about main {
	background-color: darkred;
}
/* Types of websites */
#Typesofwebsites{

	background-image: url("header-background-types.jpg");


}
#Typesofwebsites{
	background-color: brown;
}
/* Learning */
#learning{
	background-image: url("header-background-learning.jpg");
}
#learning{
	background-color: greenyellow;
}
article .image{
	height: 180px;
	width: 300px;
	background-postion: center;
	background-size: cover;
	padding: 25px;
}
article{
	position: relative;
}
article .text{
	height: 170px;
	width: 300px;
	background-color: white;
	padding: 25px;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	flex-direction: column;
}
article .box{
	background-color: red;
	color: white;
	text-transform: uppercase;
	font-size: 12px;
	padding: 6px;
	position: absolute;
	left: 0px;
	top: 202px;
}
article .text footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 12px;
	color: darkgrey;
}
article .text header{
	text-transform: uppercase;
	font-size: 12px;
}

/* Products Page */
#products main{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
